.container {
    justify-content: center;
    text-align: center;
}

.conteudo {
    padding: 1em;
    border: 1px solid #ccc;
    margin-bottom: 1em;
}

#idiomas {
    margin-left: 1225px;
    margin-bottom: 5px;
    margin-top: 1em;
}

button {
    cursor: pointer;
    padding: 1px 1px 1px 1px;
}

img {
    height: 5vh;
    width: 3vw;
}
